<% title(@dispute.title, "Dispute") %>
<div class="dispute-container">
  <h2><%= @dispute.title %></h2>
  <div class="case-title">
      (<%= link_to @dispute.user.name, user_path(@dispute.user)%> v
      <% if @dispute.respondent %>
        <%= link_to @dispute.respondent.name, user_path(@dispute.respondent)%>
      <% else %>
        <%= "Unregistered respondent" %>
      <% end %>)
  </div>
  <div class="dispute-body">
    <h3>Situation:</h3>
    <p><%= @dispute.situation %></p>
    <h3>Issue:</h3>
    <p><%= @dispute.issue %></p>
    <br />
    <% if settled? %>
      <%= render 'settled' %>
    <% else %>
      <%= render 'voting_panel' %>
    <% end %>
    <div class="voting-panel">
      <p><%= @dispute.crowd_size - @dispute.votes_for.size %> votes left until this dispute is settled.</p>
    </div>
    <% if dispute_belongs_to_current_user? %>
      <%= link_to "Revoke Dispute", dispute_path(@dispute), method: :delete,
                                                                  data: { confirm: "Are you sure you want to delete the
                                                                                #{@dispute.title} dispute?" } %>
    <% end %>
</div>
  <p><%= link_to "next dispute", carousel_path %></p>
</div>
