<%= form_for @dispute do |form| %>
  <%= form.label :title %>
  <%= form.text_field :title %>
  <%= form.label :situation %>
  <%= form.text_area :situation %>
  <%= form.label :respondent_username %>
  <%= form.text_field :respondent_username%>
  <%= form.submit button_action + " Dispute" %>
<% end %>

<% if @dispute.errors.any? %>
 <div id="error_explanation">
   <h2><%= pluralize(@dispute.errors.count, "error") %>
     prohibited this project from being saved:</h2>
   <ul>
   <% @dispute.errors.full_messages.each do |msg| %>
     <li><%= msg %></li>
   <% end %>
   </ul>
 </div>
<% end %>
