<%= bootstrap_form_for(@dispute, html: { class: 'form-horizontal' }) do |form| %>
  <%= form.text_field :title %>
  <%= form.text_area :situation, placeholder: "Describe the situation." %>
  <%= form.text_field :issue, placeholder: "A 'yes or no' question for the crowd to vote on." %>
  <small>
    <p>
      Tag a user as a repondent. If the repondent accepts the dipsute via email, the dispute
      will become active and ready for voting.
    </p>
      <p>
        <b>If the respondent is not a user, the dispute will be instantly votable.</b>
    </p>
  </small>
  <%= form.text_field :respondent_username, placeholder: "Tag a user (may be left blank)." %>
    <p><small>Select the number of votes needed to resolve the dispute.</small></p>
  <%= form.select(:crowd_size, options_for_select([1,3,5,7,9,15,21,25,31,51,101,201,501,1001]))%>
  <br />
  <%= form.submit button_action + " Dispute" %>
<% end %>
