<div class="voting-panel ">
  <p>
    <% if current_user && current_user.voted_for?(@dispute) %>
      (Yay: <%= @dispute.get_upvotes.size %> Nay:   <%= @dispute.get_downvotes.size %>)
  <% else %>
    <% if current_user %>
      <% if current_user == @dispute.user || current_user == @dispute.respondent %>
        <%= "Parties to the dispute cannot vote." %>
      <% else %>
        <span class="glyphicon glyphicon-circle-arrow-up"><%= link_to "Yea", yea_dispute_path(@dispute), method: :put %></i>
        <i class="glyphicon glyphicon-circle-arrow-down"><%= link_to "Nay", nay_dispute_path(@dispute), method: :put %></i>
      <% end %>
    <% else %>
    <i class="glyphicon glyphicon-circle-arrow-up"><%= link_to "Yea", yea_dispute_path(@dispute), method: :put %></i>
    <i class="glyphicon glyphicon-circle-arrow-down"><%= link_to "Nay", nay_dispute_path(@dispute), method: :put %></i>
    <% end %>

    <% if current_user.nil? %>
      (Please Sign in to vote)
    <% end %>
  <% end %>
  </p>
</div>
